<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Application_ControlNumberLog.Properties.Settings.DB_A0A72F_MotionDataConnectionString"
            connectionString="Data Source=SQL5003.site4now.net;Initial Catalog=DB_A0A72F_MotionData;Persist Security Info=True;User ID=DB_A0A72F_MotionData_admin;Password=Ryan#2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="EmailAccount" value="motorconfig@gmail.com" />
    <add key="EmailPass" value="lqwqnllbpwntgmvn" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>